.Header{
    padding: 0;
    margin: 0;
    padding-bottom: 48px;
    
    .header-bottom{
        padding: 0 100px;
    }
}

.icons{
    width: 50%;
    

    img{
        height: 27px;
        margin-right: 20px;

    }
}