
.nav-bar{
    padding: 12px 48px;
    background: rgb(241,254,244);
    
    

    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        

        .left-side{
            width: 100%;
            display: flex;
            flex-direction: row;
        }
        .right-side{
            width: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    
        .img{
            display: flex;
            align-items: center;
            padding-top: 2px;
            margin-right: 24px;

            img{
                width: 123px;
            }
        }

        .menu-list{
            // list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;


        .items{
            margin-right: 20px ;
            // list-style: none;
            display: flex;
            flex-direction: row;
            gap: 20px;
        }

        .naija-flag{
            margin-left: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img{
                width: 16px;
                height: 15px;
                
            }
            
        }
        
        }
    }
}

.nav-bar.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 12px 48px;
    background: rgba(241,254,244, 0.95);
}

