.section-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    gap: 15px;
    width: 100%;

    div{
        padding: 5px 30px 5px 10px;
        background: rgb(241,254,244);
        
        img{
            width: 12px;
        }
    }
    p{
        position: absolute;
        left: 35px;
        margin: 3px;
        font-weight: 500;
        line-height: 20px;
    }
}

@media screen and (max-width: 480px) {
    .section-list{
        gap: 10px;
        margin-top: -14px;
    
        div{
            padding: 5px 30px 5px 10px;

            
            img{
                width: 12px;
            }
        }
        p{
            font-weight: 400;
            font-size: 15px;
            line-height: 15px;
        }
    }
  }

  