.testimonial-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.testimonial-card{
    width: 31%;
    border: 2px solid rgb(240, 242, 243);;
    padding: 48px 32px;
    background: #fff;

    .icon{
        height: 28px;
    }

    .testimony{
        font-size: 16px;
        line-height: 26px;
    }
    .profile{
        display: flex;
        flex-direction: row;
        align-items: center;
        max-height: 50px;
        margin-top: 50px;

        .profile-pic{
            width: 50px;
            margin-right: 12px;
            border-radius: 50%;
            overflow: hidden;

            img{
                width: 100%;
            }
        }

        .bio{
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            
            h2{
                font-size: 18px;
                margin: 0;
                font-weight: 600;
            }
            p{
                margin: 0;
                font-size: 13px;
                line-height: 20px;
            }
        }
        
    }
}

// RESPONSIVE

@media screen and (max-width: 480px) {
    .testimonial-wrapper{
        flex-direction: column;
        justify-content: center;
        gap: 16px;
    }
    
    .testimonial-card{
        width: 100%;
            
        .icon{
            height: 28px;
        }
    
        .profile{
    
            .profile-pic{
                width: 50px;
                margin-right: 16px;
                border-radius: 50%;
                overflow: hidden;
    
                img{
                    width: 100%;
                }
            }
    
            .bio{
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;
                
                h2{
                    font-size: 18px;
                    margin: 0;
                    font-weight: 600;
                }
                p{
                    margin: 0;
                    font-size: 13px;
                    line-height: 20px;
                }
            }
            
        }
    }
  }