.top-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    background: rgb(13,39,60);
    color: white;



.container{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    letter-spacing: 0.02px;
    font-size: 14px;
    line-height: 21px;

    .text{
        color: white;
        font-size: 14px;

    }

}
}