.section-heading{
    // padding: 100px;
    padding-bottom: 50px;
    width: 70%;


    h1{
        font-size: 40px;
        font-weight: 800;
        line-height: 54px;
    }

    p{
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.2px;
        width: 80%;
    }
}