.colored-wrapper{
    position: relative;
    background: rgb(234,246,252);
}

.colored-sect{
    background: transparent;
    padding: 68.5px;
    position: absolute;
    top: 0;
    z-index: 1;
}

.colored-wrapper2{
    position: relative;
    background: rgb(234,246,252);
    min-height: 800px;

    .colored-sect2{
        background: transparent;
        position: absolute;
        top: 0;
        z-index: 1;
        padding: 100px 50px;
    }
}



.bg-Image{

    img{
        height: 100%;
        width: 1400px;
        opacity: 0.08;
    }
}

.bg-Image2{
    position: relative;
    top: 20px;
    left: 60%;

    img{
        height: 100vh;
        opacity: 0.2;
    }
}

.bg-Image3{
    width: 100%;
    height: 100%;
    height: 100vh;
    opacity: 0.2;

}
.hidden{
    display: none;
}

@media screen and (max-width: 480px) {
    .colored-wrapper{
        height: 1200px;
        margin-bottom: 40px;
    }
    
    .colored-sect{
        padding: 16px;
    }


    .current{
        display: none;
    }

    .hidden{
        display: block;
    }

    .colored-wrapper2{
        position: relative;
        background: rgb(234,246,252);
        min-height: 1500px;
    
        .colored-sect2{
            padding: 50px 16px;
        }
    }

  }