.section-text-wrapper{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 30px;
    padding: 10px;
}

.section-text{
    h1{
        font-size: 36px;
        font-weight: 600;
        line-height: 43px;
        margin: 0;
    }

    p{
        font-size: 19px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: -0.2px;
        // margin: 20px 0;
    }
}